	<div id="fh5co-contact-section">
		<div class="container">

<div class="row animate-box fadeInUp animated-fast">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Place Your Bet on a Company</h2>
					<p>Choose from the following companies</p>
				</div>
			</div>


		<div class="row">

				<div class="col-md-4 text-center animate-box">
					<div class="services">
						<span class="icon">
					<i class="fa fa-bar-chart" aria-hidden="true"></i>
						</span>
						<div class="desc">
							<h3><a routerLink="/stocks/{{price}}/Google">Google</a></h3>
								<p>Bet on Google Stocks</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="fa fa-building" aria-hidden="true"></i>
						</span>
						<div class="desc">
							<h3><a routerLink="/stocks/{{price}}/Yahoo">Yahoo</a></h3>
						<p>Bet on Yahoo Stocks</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="fa fa-line-chart" aria-hidden="true"></i>
						</span>
						<div class="desc">
						<h3><a routerLink="/stocks/{{price}}/Miscrosoft">Miscrosoft</a></h3>
						<p>Bet on Microsoft stocks</p>
						</div>
					</div>
				</div>
			
			</div>
      <div class="row">

				<div class="col-md-4 text-center animate-box">
					<div class="services">
						<span class="icon">
					<i class="fa fa-bar-chart" aria-hidden="true"></i>
						</span>
						<div class="desc">
							<h3><a routerLink="/stocks/{{price}}/Apple">Apple</a></h3>
							<p>Bet on Apple stocks</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="fa fa-building" aria-hidden="true"></i>
						</span>
						<div class="desc">
							<h3><a routerLink="/stocks/{{price}}/Samsung">Samsung</a></h3>
						<p>Bet on Samsung Stocks</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="fa fa-line-chart" aria-hidden="true"></i>
						</span>
						<div class="desc">
						<h3><a routerLink="/stocks/{{price}}/Nokia">Nokia</a></h3>
						<p>Bet on Nokia stocks</p>
						</div>
					</div>
				</div>
				
				<div class="col-md-12 text-center animate-box">
					<p><a class="btn btn-primary btn-lg btn-learn" routerLink="/stocks">Go Back</a></p>
				</div>
			</div>

    		</div>		</div>