	<div id="fh5co-wrapper">
	<div id="fh5co-page">

<div id="fh5co-header">
		<header id="fh5co-header-section">
			<div class="container">
				<div class="nav-header">
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
					<h1 id="fh5co-logo"><a routerLink="/">Dinggg.</a></h1>
					<nav id="fh5co-menu-wrap" role="navigation">
						<ul class="sf-menu" id="fh5co-primary-menu">
							<li><a class="active" href="#">Browse Events</a></li>
							<li><a  href="#">About Us</a></li>
							<li>
								<a href="#" class="fh5co-sub-ddown">FAQs</a>
								<ul class="fh5co-sub-menu">
									<li><a href="#">FAQs</a></li>
								<li><a href="#">Help Center</a></li>
                	<li><a href="#">How it works?</a></li>
					
								</ul>
							</li>
					
							<li><a href="#">Blog</a></li>
							<li><a href="#">Contact</a></li>
							<li><a routerLink="/login" >Login</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		
	</div>
	<!-- end:fh5co-header -->
	<div class="fh5co-parallax" style="background-image: url(assets/images/slider1.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay-gradient"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
					<div class="fh5co-intro fh5co-table-cell">
						<h1 class="text-center">User Login</h1>
						<p>Login to start adding your first event.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="fh5co-contact-section">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
  <!--<img src="assets/images/lock.svg" id="lock">
    <h3>User Login</h3>-->
<span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>
    
 <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
<div class="form-group">
      <input type="text" placeholder="Email address.." (ngModel)="email" name="email" class="form-control" required>
</div>
<div class="form-group">
      <input type="password" placeholder="Password" (ngModel)="password" name="password" class="form-control" required>
</div>

      <button type="submit" [disabled]="!formData.valid" class="btn btn-primary">Log in</button>
     <!-- <a routerLink="/signup" class="alc">Don't have an account?</a>-->
  </form>
<div class="row" style="margin-top: 1em;">
	<div class="col-md-12">
  <button (click)="loginFb()" id="fb" class="btn btn-primary">Login With Facebook</button>
  </div>
  <div class="col-md-12">
  <button (click)="loginGoogle()" id="google" class="btn btn-primary">Login With Google</button>
  <!--<button routerLink="/login-email" id="email">Email</button>-->
		</div>
  <a routerLink="/signup" routerLinkActive="active" class="alc">No account? <strong>Create one here</strong></a>
   
    <a routerLink="/home" id="goback">Go back</a>

	</div>
</div> 
</div> 
</div> 

</div> 
</div> 