	<div id="fh5co-contact-section">
		<div class="container">

<div class="row animate-box fadeInUp animated-fast">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Race</h2>
					<p>It's racing time!</p>
                 
				</div>
			</div>


		<div class="row">

  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="http://showcase.codethislab.com/games/greyhound_racing/"></iframe>
  </div>

			</div>

    		</div>		</div>