	<div id="login">
	<div  class="fh5co-parallax" style="background-image: url(assets/images/slider1.jpg);" data-stellar-background-ratio="0.3">
		<div class="overlay-gradient"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
					<div class="fh5co-intro fh5co-table-cell">
						<h1 class="text-center">Create An Event</h1>
						<p>Kindly tell us about your event.</p>
					</div>
				</div>
			</div>
		</div>
	</div></div>

  
	<div id="fh5co-contact-section">
		<div class="container">
		<div class="row">
          <flash-messages></flash-messages>
<div class="page-header">
  <h3>Event Details</h3>
</div>

</div> 
     <form (submit)="addEventSubmit();">
			<div class="row">
  
						<div class="col-md-6">
                           
							<div class="form-group">
					<input type="text" [(ngModel)]="eventname" name="eventname" class="form-control" placeholder="Event Title"  required>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" [(ngModel)]="location" name="location" class="form-control" placeholder="Location"  required>
							</div>
						</div>
                        <div class="col-md-6">
                             <div class="form-group">
                            <select class="form-control" type="text" [(ngModel)]="category" name="category" >
                           <option value="" selected disabled>Event Category</option>
                            <option value="Music">Music</option>
                            <option value="Sports">Sports</option>
                            <option value="Health">Health</option>
                             <option value="IT">IT</option>
                            </select>
                        </div>    </div>
                        <div class="col-md-6">
	                <input type="text" [(ngModel)]="date" name="date" class="form-control" placeholder="Date" >

                        </div>
                
						<div class="col-md-12">
							<div class="form-group">
								<textarea name="" [(ngModel)]="description" name="description" class="form-control" id="" cols="30" rows="5" placeholder="Event Description..."></textarea>
							</div>
						</div>
                                <div class="col-md-12">  
                            <div class="form-group">
                        <input id="image" name="image" [(ngModel)]="image" type="file" >
                    </div></div>
						<div class="col-md-12">
			
								<input type="submit" value="Create Event" class="btn btn-success">
                                
					
                        
						</div>
					</div>
                    	</form>
</div>
</div> 
