	<div id="fh5co-contact-section">
		<div class="container">

<div class="row animate-box fadeInUp animated-fast">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Place Your Bet</h2>
					<p>Choose from Stocks, Currency and Direvatives</p>
				</div>
			</div>


		<div class="row">

				<div class="col-md-6 text-center animate-box">
					<div class="services">
						<span class="icon">
					<i class="fa fa-bar-chart" aria-hidden="true"></i>
						</span>
						<div class="desc">
							<h3><a [routerLink]="['/stocks']">Bet on Stocks</a></h3>
							<p>Bet on which stocks will win or lose the stock race.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="fa fa-money" aria-hidden="true"></i>
						</span>
						<div class="desc">
							<h3><a href="/">Bet on Currency</a></h3>
						<p>Bet on which currency will win or lose the stock race.</p>
						</div>
					</div>
				</div>
		</div><div class="row">
				<div class="col-md-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="fa fa-line-chart" aria-hidden="true"></i>
						</span>
						<div class="desc">
						<h3><a href="#">Bet on Derivative</a></h3>
						<p>Bet on which derivative will win or lose the stock race.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="fa fa-line-chart" aria-hidden="true"></i>
						</span>
						<div class="desc">
						<h3><a href="#">Bet on Futures</a></h3>
						<p>Bet on which futures will win or lose the stock race.</p>
						</div>
					</div>
				</div>
				
				<div class="col-md-12 text-center animate-box">
					<p><a class="btn btn-primary btn-lg btn-learn" href="#">Play Now!</a></p>
				</div>
			</div>

    		</div>		</div>