<div id="login" *ngIf="event">
	<div  class="fh5co-parallax" style="background-image: url(assets/images/slider1.jpg);" data-stellar-background-ratio="0.3">
		<div class="overlay-gradient"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
					<div class="fh5co-intro fh5co-table-cell">
						<h1 class="text-center">{{event.eventname}}</h1>
						<p>{{event.description}}</p>
					</div>
				</div>
			</div>
		</div>
	</div></div>

  	<div id="fh5co-hotel-section">
		<div class="container">
			<div class="row">

       
  <a [routerLink]="['/events']">Go Back</a>
  <br>
  <h2 class="page-header">{{event.eventname}}</h2>
  <div class="row">
   <!-- <div class="col-md-4">
      <img style="width:100%" class="thumbnail" src="{{imageUrl}}">
    </div>-->
    <div class="col-md-8 col-md-offset-2">
      <ul class="list-group">
        <li class="list-group-item">Description: {{event.description}}</li>
        <li class="list-group-item">Location: {{event.location}}</li>
        <li class="list-group-item">Date: {{event.data}}</li>
        <li class="list-group-item">Category: {{event.category}}</li>
      </ul>
    </div>
    <a class="btn btn-default" href="#">Edit</a>
    <a class="btn btn-danger" href="#">Delete</a>
  </div>



		</div>
	</div></div>
