	<div id="login">
	<div  class="fh5co-parallax" style="background-image: url(assets/images/slider1.jpg);" data-stellar-background-ratio="0.3">
		<div class="overlay-gradient"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
					<div class="fh5co-intro fh5co-table-cell">
						<h1 class="text-center">User Sign Up</h1>
						<p>Login to start adding your first event.</p>
					</div>
				</div>
			</div>
		</div>
	</div></div>

	<div id="fh5co-contact-section">
		<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">

  <span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>
    
  <form #formData='ngForm' (ngSubmit)="addUser(formData)">
    <div class="form-group">
 <input type="text" placeholder="First Name" (ngModel)="firstname" name="firstname" class="form-control" required>
 </div> <div class="form-group">
  <input type="text" placeholder="Last Name" (ngModel)="lastname" name="lastname" class="form-control" required>
   </div> 

   <div class="form-group">
    <input type="text" placeholder="Email address" (ngModel)="email" name="email" class="form-control" required>
     </div> 
	  <div class="form-group">
  <input type="text" placeholder="Code Name" (ngModel)="codename" name="codename" class="form-control" required>
   </div> 
	 <div class="form-group">
    <input type="password" placeholder="Password" (ngModel)="password" name="password" class="form-control" required>
 </div>

    <button type="submit" [disabled]="!formData.valid" class="btn btn-primary">Create my account</button>
  </form>
</div> 
</div> 
</div>
</div> 
