	<div id="fh5co-contact-section">
		<div class="container">

<div class="row animate-box fadeInUp animated-fast">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Place Your Bet on Stocks</h2>
					<p>How much are you willing to bet?</p>
				</div>
			</div>


		<div class="row">

			<div class="col-md-4 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="fa fa-money" aria-hidden="true"></i>
						</span>
						<div class="desc">
							<h1><a [routerLink]="['/stocks/50']">$50</a></h1>
						<p>some description or disclaier here...</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="fa fa-money" aria-hidden="true"></i>
						</span>
						<div class="desc">
							<h1><a [routerLink]="['/stocks/100']">$100</a></h1>
						<p>some description or disclaier here...</p>
						</div>
					</div>
				</div>
					<div class="col-md-4 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="fa fa-money" aria-hidden="true"></i>
						</span>
						<div class="desc">
							<h1><a [routerLink]="['/stocks/200']">$200</a></h1>
						<p>some description or disclaier here...</p>
						</div>
					</div>
				</div>


			</div>
<div class="row">

			<div class="col-md-4 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="fa fa-money" aria-hidden="true"></i>
						</span>
						<div class="desc">
							<h1><a [routerLink]="['/stocks/500']">$500</a></h1>
						<p>some description or disclaier here...</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="fa fa-money" aria-hidden="true"></i>
						</span>
						<div class="desc">
							<h1><a [routerLink]="['/stocks/1000']">$1000</a></h1>
						<p>some description or disclaier here...</p>
						</div>
					</div>
				</div>
					<div class="col-md-4 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="fa fa-money" aria-hidden="true"></i>
						</span>
						<div class="desc">
							<h1><a [routerLink]="['/stocks/2000']">$2000</a></h1>
						<p>some description or disclaier here...</p>
						</div>
					</div>
				</div>
				<div class="col-md-12 text-center animate-box">
					<p><a class="btn btn-primary btn-lg btn-learn" [routerLink]="['/bet']">Go Back</a></p>
				</div>
        
			</div>
    		</div>		</div>