<div id="fh5co-wrapper">
	<div id="fh5co-page">
	<div id="fh5co-header">
		<header id="fh5co-header-section">
			<div class="container">
				<div class="nav-header">
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
					<h1 id="fh5co-logo"><a href="index.html">Dinggg.</a></h1>
					<nav id="fh5co-menu-wrap" role="navigation">
						<ul class="sf-menu" id="fh5co-primary-menu">
							<li><a class="active" href="#">Browse Events</a></li>
							<li><a  href="#">About Us</a></li>
							<li>
								<a href="#" class="fh5co-sub-ddown">FAQs</a>
								<ul class="fh5co-sub-menu">
									<li><a href="#">FAQs</a></li>
								<li><a href="#">Help Center</a></li>
                	<li><a href="#">How it works?</a></li>
					
								</ul>
							</li>
					
							<li><a href="#">Blog</a></li>
							<li><a href="#">Contact</a></li>
							<li><a routerLink="/login" >Login</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		
	</div>
	<!-- end:fh5co-header -->
	<aside id="fh5co-hero" class="js-fullheight">
		<div class="flexslider js-fullheight">
			<ul class="slides">
		   	<li style="background-image: url(assets/images/slider.jpg);">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="col-md-12 col-md-offset-0 text-center slider-text">
		   				<div class="slider-text-inner js-fullheight">
		   					<div class="desc">
		   						<p><span>Rave Party</span></p>
		   						<h2>Find Your Next Experience</h2>
			   					<p>
			   						<a href="#" class="btn btn-primary btn-lg">Create Event</a>
			   					</p>
		   					</div>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
			   	   	<li style="background-image: url(assets/images/slider4.jpg);">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="col-md-12 col-md-offset-0 text-center slider-text">
		   				<div class="slider-text-inner js-fullheight">
		   					<div class="desc">
		   						<p><span>Bacolod City</span></p>
		   						<h2>A Best Place To Enjoy Your Life</h2>
			   					<p>
			   						<a href="#" class="btn btn-primary btn-lg">Create Event</a>
			   					</p>
		   					</div>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		   	<li style="background-image: url(assets/images/slider2.jpg);">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="col-md-12 col-md-offset-0 text-center slider-text">
		   				<div class="slider-text-inner js-fullheight">
		   					<div class="desc">
		   						<p><span>Boracay Island</span></p>
		   						<h2>Make Your Vacation Comfortable</h2>
			   					<p>
			   						<a href="#" class="btn btn-primary btn-lg">Create Event</a>
			   					</p>
		   					</div>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		   	<li style="background-image: url(assets/images/slider3.jpg);">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="col-md-12 col-md-offset-0 text-center slider-text">
		   				<div class="slider-text-inner js-fullheight">
		   					<div class="desc">
		   						<p><span>Bacolod City</span></p>
		   						<h2>A Best Place To Enjoy Your Life</h2>
			   					<p>
			   						<a href="#" class="btn btn-primary btn-lg">Create Event</a>
			   					</p>
		   					</div>
		   				</div>
		   			</div>
		   		</div>
		   	</li>


		   	
		  	</ul>
	  	</div>
	</aside>


	<div class="wrap">
		<div class="container">
			<div class="row">
				<div id="availability">
					<form action="#">

						<div class="a-col">
							<section>
								<select class="cs-select cs-skin-border">
									<option value="" disabled selected>Select Category</option>
									<option value="email">Music</option>
									<option value="twitter">Food & Drink</option>
									<option value="linkedin">Parties</option>
									<option value="linkedin">Health</option>
									<option value="linkedin">Sports</option>
								</select>
							</section>
						</div>
						<div class="a-col alternate">
							<div class="input-field">
								<label for="location">Location</label>
								<input type="text" class="form-control"/>
							</div>
						</div>
						<!--<div class="a-col alternate">
							<div class="input-field">
								<label for="date-start">Location</label>
								<input type="text" class="form-control" id="date-start" />
							</div>
						</div>-->
						<div class="a-col alternate">
							<div class="input-field">
								<label for="date-end">Date</label>
								<input type="text" class="form-control" id="date-end" />
							</div>
						</div>
						<div class="a-col action">
							<a href="#">
								<span>Check</span>
								Availability
							</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
<div id="fh5co-counter-section" class="fh5co-counters">
		<div class="container">
			<div class="row">
				<div class="col-md-3 text-center">
					<span class="icon">
						<span><i class="ti-pulse"></i></span>
					</span>
					<span class="fh5co-counter js-counter" data-from="0" data-to="6969" data-speed="5000" data-refresh-interval="50"></span>
		
					<span class="fh5co-counter-label">Events Hosted</span>
				</div>
				<div class="col-md-3 text-center">
										<span class="icon">
					<span><i class="ti-user"></i></span>
					</span>
					<span class="fh5co-counter js-counter" data-from="0" data-to="143440" data-speed="5000" data-refresh-interval="50"></span>
					<span class="fh5co-counter-label">Users</span>
				</div>
				<div class="col-md-3 text-center">
										<span class="icon">
						<span><i class="ti-ticket"></i></span>
					</span>
					<span class="fh5co-counter js-counter" data-from="0" data-to="888880" data-speed="5000" data-refresh-interval="50"></span>
					<span class="fh5co-counter-label">Ticket Sales</span>
				</div>
				<div class="col-md-3 text-center">
										<span class="icon">
						<span><i class="ti-star"></i></span>
					</span>
					<span class="fh5co-counter js-counter" data-from="0" data-to="8763" data-speed="5000" data-refresh-interval="50"></span>
					<span class="fh5co-counter-label">Ratings &amp; Reviews</span>
				</div>
			</div>
		</div>
	</div>

	<div id="featured-hotel" class="fh5co-bg-color">
		<div class="container">
			
			<div class="row">
				<div class="col-md-12">
					<div class="section-title text-center">
						<h2>Featured Events</h2>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="feature-full-1col">
					<div class="image" style="background-image: url(assets/images/negros-love-dance.jpg);">
						<div class="descrip text-center">
							<p><small>Pre Sell</small><span>P150/person</span></p>
						</div>
					</div>
					<div class="desc">
						<h3>Negros Love Dance</h3>
						<p class="hashtag">#party #bacolod #nldfestival</p>
						<p>Pellentesque habitant morbi tristique senectus et netus ett mauada fames ac turpis egestas. Etiam euismod tempor leo, in suscipit urna condimentum sed. Vivamus augue enim, consectetur ac interdum a, pulvinar ac massa. Nullam malesuada congue </p>
						<p><a href="#" class="btn btn-primary btn-luxe-primary">Register Now <i class="ti-angle-right"></i></a></p>
					</div>
				</div>

				<div class="feature-full-2col">
					<div class="f-hotel">
						<div class="image" style="background-image: url(assets/images/strokes.jpg);">
							<div class="descrip text-center">
								<p><small>Open Registration</small><span>Free</span></p>
							</div>
						</div>
						<div class="desc">
							<h3>Beach Volleyball</h3>
							<p class="hashtag">#ph #volleyball #sports</p>
							<p>Beach volleyball action doesn't get any hotter! Etiam euismod tempor leo, in suscipit urna condimentum sed in suscipit urna condimentum sed. </p>
							<p><a href="#" class="btn btn-primary btn-luxe-primary">Register Now <i class="ti-angle-right"></i></a></p>
						</div>
					</div>
					<div class="f-hotel">
						<div class="image" style="background-image: url(assets/images/sme2.jpg);">
							<div class="descrip text-center">
								<p><small>Open Registration</small><span>Free</span></p>
							</div>
						</div>
						<div class="desc">
							<h3>Miss Crossfit 2017</h3>
							<p class="hashtag">#crossfit #health #women</p>
							<p>Pellentesque habitant morbi tristique senectus et netus ett mauada fames ac turpis egestas. Etiam euismod tempor leo, in suscipit urna condimentum sed. </p>
							<p><a href="#" class="btn btn-primary btn-luxe-primary">Register Now <i class="ti-angle-right"></i></a></p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
<!--<div id="ding-categoris-section">
		<div class="container">
			<div class="row">	
				<div class="col-md-12">
					<div class="section-title text-center">
						<h2>Top Event Categories</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">	
				
			</div>
		</div>
</div>-->
<div id="fh5co-blog-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title text-center">
						<h2>Top Event Categories</h2>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="blog-grid" style="background-image: url(assets/images/categories/insta-1.jpg);">

					</div>
					<div class="desc">
						<h3><a href="#">Fashion</a></h3>
					</div>
				</div>
				<div class="col-md-4">
					<div class="blog-grid" style="background-image: url(assets/images/categories/insta-2.jpg);">
	
					</div>
					<div class="desc">
						<h3><a href="#">Feeling Good</a></h3>
					</div>
				</div>
				<div class="col-md-4">
					<div class="blog-grid" style="background-image: url(assets/images/categories/insta-4.jpg);">
		
					</div>
					<div class="desc">
						<h3><a href="#">Technology</a></h3>
					</div>
				</div>
			</div><!--row-->
			<div class="row">
				<div class="col-md-4">
					<div class="blog-grid" style="background-image: url(assets/images/categories/cat_2.jpg);">
		
					</div>
					<div class="desc">
						<h3><a href="#">Travel</a></h3>
					</div>
				</div>
				<div class="col-md-4">
					<div class="blog-grid" style="background-image: url(assets/images/categories/cat_3.jpg);">
					
					</div>
					<div class="desc">
						<h3><a href="#">Food</a></h3>
					</div>
				</div>
				<div class="col-md-4">
					<div class="blog-grid" style="background-image: url(assets/images/categories/insta-3.jpg);">
					
					</div>
					<div class="desc">
						<h3><a href="#">New Adventures</a></h3>
					</div>
				</div>
			</div><!--row-->
			<div class="row">
				<div class="col-md-4 col-md-offset-4 text-center">
					<a href="#" class="btn btn-primary btn-lg">See More</a>
				</div>
			</div><!--row-->
		</div>
	</div>
	<div id="ding-newsletter">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center newsletter-heading">
					<h2>Dinggg Newsletter</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2">
					<form class="form-inline">
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label for="email" class="sr-only">Email</label>
								<input type="email" class="form-control" id="email" placeholder="Email">
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<button type="submit" class="btn btn-default btn-block">Subscribe</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>


	
	

	<footer id="footer" class="fh5co-bg-color">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="copyright">
						<p><small>&copy; 2017 Ding by TinkerTech Inc. <br> All Rights Reserved. </small></p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-3">
							<h3>Company</h3>
							<ul class="link">
								<li><a href="#">About Us</a></li>
								<li><a href="#">Hotels</a></li>
								<li><a href="#">Customer Care</a></li>
								<li><a href="#">Contact Us</a></li>
							</ul>
						</div>
						<div class="col-md-3">
							<h3>Our Facilities</h3>
							<ul class="link">
								<li><a href="#">Resturant</a></li>
								<li><a href="#">Bars</a></li>
								<li><a href="#">Pick-up</a></li>
								<li><a href="#">Swimming Pool</a></li>
								<li><a href="#">Spa</a></li>
								<li><a href="#">Gym</a></li>
							</ul>
						</div>
						<div class="col-md-6">
							<h3>Subscribe</h3>
							<p>Sed cursus ut nibh in semper. Mauris varius et magna in fermentum. </p>
							<form action="#" id="form-subscribe">
								<div class="form-field">
									<input type="email" placeholder="Email Address" id="email">
									<input type="submit" id="submit" value="Send">
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<ul class="social-icons">
						<li>
							<a href="#"><i class="icon-twitter-with-circle"></i></a>
							<a href="#"><i class="icon-facebook-with-circle"></i></a>
							<a href="#"><i class="icon-instagram-with-circle"></i></a>
							<a href="#"><i class="icon-linkedin-with-circle"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
  	</div><!--end 1-->
    	</div><!--end 2-->

			<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>>