



<!--	<div id="login">
	<div  class="fh5co-parallax" style="background-image: url(assets/images/slider1.jpg);" data-stellar-background-ratio="0.3">
		<div class="overlay-gradient"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
					<div class="fh5co-intro fh5co-table-cell">
						<h1 class="text-center">User Profile</h1>
						<p>Tell us more about yourself...</p>
					</div>
				</div>
			</div>
		</div>
	</div></div>-->


	<div id="fh5co-contact-section">
		<div class="container">
		<div class="row">
<!--<div class="page-header">
  <h3>Account Information</h3>
</div>-->

<div class="col-md-8">
	<div id="profile" class="row">
                                            	<div class="col-sm-12  no-padding text-center">
                                                   <div class="tools pull-right icons-medium text-transparent">
                                        			<a href="#"><i class="icon-camera text-transparent"></i></a>
                                        			<a href="#"><i class="icon-cog text-transparent"></i></a>
                                                    <a href="#"><i class="icon-pencil text-transparent"></i></a>
                                            		</div>
                                           		    <div class="clearfix"></div>
                                           	 		<!-- user -->
                                                      <ul class="list-inline list-unstyled">
                                                          <li>
                                                              <div class="avatar text-center avatar-lg animated flipInX">
                                                                  <img src="assets/images/avatar-lg.jpg" alt="Ryan" class="img-circle" width="135">
                                                               </div>
                                                           </li>
                                                           <li class="align-center-vert">
                                                               <div class="leftarrowdiv-white">
                                                                   <div class="well-lg transparent">
                                                                       <ul class="list-unstyled">
                                                                         <li class="no-padding-left"><h2>{{currentUser}}</h2></li>
                                                                         <li class="no-padding-left"><h5 class="text-transparent">Web Designer at TinkerTech</h5></li>
                                                                       </ul>
                                                                   </div>
                                                                </div>
                                                           </li>
                                                         
                                                        </ul>  
                                                </div>
                                                <br><br>
                                                    <div class="col-sm-3 col-xs-6">
                                                                 <div class="text-inverse">
                                                                    <span class="number"><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;2,540</span>
                                                                 </div>
                                                            </div>
                                                            <div class="col-sm-3 col-xs-6">
                                                                <div class="text-inverse">
                                                                    <span class="number"><i class="fa fa-money" aria-hidden="true"></i>&nbsp;3,070</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-3 col-xs-6">
                                                                <div class="text-inverse">
                                                                    <span class="number"><i class="fa fa-trophy" aria-hidden="true"></i>&nbsp;645</span>
																																		
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-3 col-xs-6">
                                                                <div class="text-inverse">
                                                                    <span class="number"><i class="fa fa-group" aria-hidden="true"></i>&nbsp;1,301</span>
                                                                </div>
                                                            </div> </div>
           	<div id="thetabs" class="row">                                                 <div class="clearfix"></div>
	  <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                              <li><a href="#user" data-toggle="tab"><i class="icon-user"></i>&nbsp;&nbsp;&nbsp;About me</a>
                              <li><a href="#education" data-toggle="tab"><i class="icon-book"></i>&nbsp;&nbsp;&nbsp;Education</a></li>
                              <li><a href="#resume" data-toggle="tab"><i class="icon-file-text"></i>&nbsp;&nbsp;&nbsp;Work Experience</a></li>
                              <li><a href="#accolades" data-toggle="tab"><i class="icon-star"></i>&nbsp;&nbsp;&nbsp;Accolades</a></li>
                            </ul>
                            
                            <!-- Tab panes -->
                            <div class="tab-content add-shadow">
                              <div class="tab-pane active" id="user">
                                      		<h3>Basic Info</h3>
                                      		<p>Vivamus id felis a arcu posuere blandit eu accumsan enim. Nunc massa arcu, placerat luctus lacus a, consequat suscipit eros. Nunc malesuada, mi consectetur hendrerit bibendum, dui magna luctus erat, pharetra rhoncus sem lorem in mi. Integer ac vestibulum dui. Nullam eleifend arcu nec eros dapibus tristique. Donec dictum orci tortor, in porttitor nisi posuere id.
                                            </p><br>
                                            <p><strong>Find me:</strong></p>
                                            <button class="btn btn-default"><i class="icon-flickr"></i></button>
											<button class="btn btn-default"><i class="icon-tumblr"></i></button>
                                            <button class="btn btn-default"><i class="icon-android"></i></button> 
                                      </div>
                                      <div class="tab-pane" id="education">
                                      		<h3>Education</h3>
                                      		<h4>International University of Italy</h4>
                                            M.F.A Graphic Design<br>
                                            <span class="text-transparent">2007&mdash;2011</span>
                                            <br><br>
                                      		<h4>State University</h4>
                                            B.A. Liberal Arts<br>
                                            <span class="text-transparent">2002&mdash;2007</span>
                                            <br><br>
                                      		<h4>Provisional Certificate</h4>
                                            Department of Education<br>
                                            <span class="text-transparent">2001</span>
                                            <br><br>
                                      </div>
                                      <div class="tab-pane" id="resume">
                                      		<h3>Work Experience</h3>
                                      		<h4>Art & Technology Center</h4>
                                            Teacher of Design<br>
                                            <span class="text-transparent">2011&mdash;Present</span>
                                            <br><br>
                                      		<h4>The New Studio</h4>
                                            Intern<br>
                                            <span class="text-transparent">June 2011&mdash;August 2011</span>
                                            <br><br>
                                      		<h4>Smith's Construction</h4>
                                            Crate Builder / Carpenter<br>
                                            <span class="text-transparent">2005&mdash;2011</span>
                                            <br><br>
                                      </div>
                                      <div class="tab-pane" id="accolades">
                                      		<h3>Accolades</h3>

                                            <h4><a href="#" id="accolade-1" data-type="text" data-pk="1" data-title="Enter Accolade">Best of Competition&nbsp;&nbsp;&nbsp;<i class="icon-pencil text-transparent"></i></a></h4> 

                                            2013 ADDY Awards<br>
                                            <span class="text-transparent">2013</span>
                                            <br><br>
                                      		<h4><a href="#" id="accolade-2" data-type="text" data-pk="1" data-title="Enter Accolade">Oustanding Student Achievement&nbsp;&nbsp;&nbsp;<i class="icon-pencil text-transparent"></i></a></h4>
                                            International University of Italy<br>
                                            <span class="text-transparent">2011</span>
                                            <br><br>
                                      		<h4><a href="#" id="accolade-3" data-type="text" data-pk="1" data-title="Enter Accolade">Certificate of Excellence&nbsp;&nbsp;&nbsp;<i class="icon-pencil text-transparent"></i></a></h4>
                                            Creative Annual Award<br>
                                            <span class="text-transparent">2010</span>
                                            <br><br>
                                      </div>
                            </div>	</div><!--tabs-->		

														<div class="clearfix"></div>
														<div class="text-center">
														<a [routerLink]="['/bet']" class="btn btn-lg btn-primary">Start Betting Now!</a>			
														</div>																						
</div><!--profile left-->

<div id="sidebar" class="col-md-4">   
	 <!-- social share -->
                                        <div class="panel">
                                            <div class="panel-heading">
                                            </div>
                                            <div class="panel-body no-padding">
                                                <div class="share">
                                                    <textarea class="form-control no-border" rows="2" placeholder="Share what you've been up to..."></textarea>
                                                </div>
                                            </div>
                                            <div class="panel-footer icons-medium">
                                                <ul class="list-inline share-buttons pull-left">
                                                    <li><a href="#" class="text-transparent"><i class="icon-user"></i></a></li>
                                                    <li><a href="#" class="text-transparent"><i class="icon-camera"></i></a></li>
                                                    <li><a href="#" class="text-transparent"><i class="icon-twitter "></i></a></li>
                                                    <li><a href="#" class="text-transparent"><i class="icon-microphone"></i></a></li>
                                                </ul>
                                                <div class="pull-right">
                                                    <button class="btn btn-primary btn-xs pull-right">Share</button>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div><!-- / social share --> 
<div class="panel panel-white-solid">
                            	<div class="panel-heading"> 
                                		<div class="pull-left">
                                            <h4><i class="icon-user"></i>New Players</h4>
                                        </div>
                                        <div class="tools pull-right">
                                              <a href="#"><i class="icon-refresh text-transparent"></i></a>
                                              <a href="#" class="close-panel" data-dismiss="panel" aria-hidden="true"><i class="icon-remove text-transparent"></i></a>
                                        </div>
                                        <div class="clearfix"></div>
                                </div>
                                <div class="panel-body table-rounded-corners no-padding-top">
                                	<div class="table-responsive table-no-border">
                                    <table class="table"> 
                                        <tbody><tr class="animated-delay flash">
                                        	<td><img src="assets/images/tn_user_02.jpg" alt="User" class="img-circle nav-avatar"></td>
                                            <td><a href="#"><strong>Jill Doe</strong><br>Web Specialist, New Inc.</a></td>
                                            <td><a href="#" class="text-transparent"><span class="time">Just now</span></a></td>
                                        </tr>
                                        <tr>
                                        	<td><img src="assets/images/tn_user_01.jpg" alt="User" class="img-circle nav-avatar"></td>
                                            <td><a href="#"><strong>Micheal Anderson</strong><br>UX Design, Studio 405</a></td>
                                            <td><a href="#" class="text-transparent"><span class="time">5 min ago</span></a></td>
                                        </tr>
                                        <tr>
                                        	<td><img src="assets/images/tn_user_04.jpg" alt="User" class="img-circle nav-avatar"></td>
                                            <td><a href="#"><strong>Hai Thatcher</strong><br>Web Specialist, New Inc.</a></td>
                                            <td><a href="#" class="text-transparent"><span class="time">3:30 pm</span></a></td>
                                        </tr>
                                        <tr>
                                        	<td><img src="assets/images/tn_user_05.jpg" alt="User" class="img-circle nav-avatar"></td>
                                            <td><a href="#"><strong>Brianna Moser</strong><br>Web Specialist, New Inc.</a></td>
                                            <td><a href="#" class="text-transparent"><span class="time">12:01 pm</span></a></td>
                                        </tr>
                                    </tbody></table></div>
                                </div>
                                <div class="panel-footer"></div>
                        </div><!--connections-->
												
</div>  <!-- sidebar -->                          
  <!--  <header [@fallIn]="state">
      <button (click)="logout()" class="basic-btn">Logout</button>
       <a routerLink="/add-event" routerLinkActive="active" class="add-event">Add Event</a>
    </header>
    <div id="page" [@moveInLeft]="state">
      <h2>Hey {{ name.auth.email }}!</h2>
   <h2>Hi {{ currentUser }}!</h2>

    </div>
    <ul class="list-group">
  <li class="list-group-item">Email: {{ name.auth.email }}</li>
  <li class="list-group-item">Name: {{currentUser}}</li>
  <li class="list-group-item">Phone: 707-5852</li>
  <li class="list-group-item">Website: www.diancin.com</li>
  <li class="list-group-item">Address: Bacolod City</li>
</ul>
-->


</div> 
</div>
</div> 
